{% extends 'base.html' %}

{% block title %}Registrer bruker - Hva skjer'a verden{% endblock %}

{% block extra_css %}
    <link rel="stylesheet" href="{{ url_for('static', filename='login.css') }}">
{% endblock %}

{% block content %}
<div class="form-container">
    <h3>Registrer bruker</h3>
    <form method="POST">
        <label for="email">E-post</label>
        <input type="email" id="email" name="email" required>

        <label for="password">Passord</label>
        <input type="password" id="password" name="password" required>

        <button type="submit">Registrer</button>
    </form>
</div>

{% with messages = get_flashed_messages(with_categories=true) %}
    {% if messages %}
        <ul>
            {% for category, message in messages %}
                <li class="{{ category }}">{{ message }}</li>
            {% endfor %}
        </ul>
    {% endif %}
{% endwith %}
{% endblock %}