{% extends 'base.html' %}

{% block title %}Registrer bruker - Hva skjer'a verden{% endblock %}

{% block extra_css %}
    <link rel="stylesheet" href="{{ url_for('static', filename='forms.css') }}">
{% endblock %}

{% block content %}
<div class="form-container">
    <h3>Registrer bruker</h3>
    <form method="POST">
        <label for="email">E-post</label>
        <input type="email" id="email" name="email" placeholder="Eksempel@gmail.com" required>
        <label for="password">Passord</label>
        <input type="password" id="password" name="password" placeholder="Passord" required>
        <label for="password">Bekreft passord</label>
        <input type="password" id="password2" name="password2" placeholder="Passord*" required>
        {% if feedback %}
            {% if feedback.type == 'success' %}
                <p class="success-text">{{feedback.message}}</p>
            {% elif feedback.type == 'error' %}
                <p class="error-text">{{feedback.message}}</p>
            {% endif %}
        {% endif %}
        <button type="submit">Registrer</button>
    </form>
</div>
{% endblock %}