{% extends "base.html" %}

{% block title %}Innstillinger{% endblock %}

{% block extra_css %}
    <link rel="stylesheet" href="{{ url_for('static', filename='settings.css') }}">
{% endblock %}

{% block content %}
<div class="tag-container">
    <h3>Finn emner</h3>
    <p>Finn emner og trykk på de for å legge det til.</p>
    <input type="text" id="search" placeholder="Søk her">
    <div id="tags-container"></div>

    <h3>Valgte emner</h3>
    <p>Disse emnene er utgangspunktet for nyhetsbrevet du vil motta. Du kan trykke på emnene for å fjerne de.</p>
    <div id="selected-tags" class="selected-tags"></div>
</div>
<div class="other-container">
    <h3>Annet</h3>
    <label class="checkbox-label">
        <input type="checkbox" class="checkbox-input">
        <span class="checkbox-text">Jeg ønsker å motta nyhetsbrev</span>
    </label>
</div>
<div class="button-container">
    <button id="save-button">Lagre preferanser</button>
    <button id="delete-button">Slett bruker</button>
</div>



<script type="module" src="{{ url_for('static', filename='js/settings_utils.js') }}"></script>
{% endblock %}
