main {
    border-radius: 5px;
    border: solid 3px rgb(107, 107, 107);
    background-color: rgb(186, 187, 145);
    display: flex;
    flex-direction: column;
    margin: auto;
    padding: 10px;
    
}
header {
    text-align: center;
}
section {
    align-items: center;
    display: flex;
    flex-direction: column;
    gap:10px;
    margin:auto;
    width: 80%;
}
h1 {
    margin: 0;
    padding: 10px;
}

footer {
    background-color: rgb(79, 75, 181);
    padding: 10px;
    margin: 0;
}

button {
    padding: 10px;
    color: white;
    text-shadow: 0 -1px 1px #335166;
    border: 1px solid rgba(0, 0, 0, 0.1);
    border-radius: 2px;
    background: linear-gradient(rgba(255, 255, 255, 0.2), transparent);
    background-color: #b81a1a;
    box-shadow: 0 1px 2px rgba(0, 0, 0, 0.7);
    outline: none;
    cursor: pointer;
    padding-left: 5rem;
    padding-right: 5rem;    
    width: 90%;
    height: 75px;
    font-size: 20px;
}

#gmail, #search {
    width: 50%;
    padding: 7px;
}

#temabox {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    gap: 5px;
    width: 90%;
    padding: 5px;
}

.tema {
    background-color: rgb(147, 147, 205);
    border-radius: 5px;
    padding: 10px;
    font-size: 18px;
    
}

.tema:hover {
    background-color: rgb(188, 186, 186);
    border: 1px black solid; 
    padding: 9px;
}
#preferanseparagraf {
    margin: 0;
} 

.newBox {
    background-color: lightgreen;
    padding: 10px;
    border-radius: 5px;
    font-size: 18px;
}

.newBox:hover {
    background-color: lightcyan;
    border: 1px black solid; 
    padding: 9px;
    
}

#chosenThemes {
    display:flex;
    flex-direction: row;
    gap: 5px;
    border: 2px solid black;
    padding: 10px;
}

.notSearched {
    display:none;
    
}


@media (max-width: 600px) {
    section {
        width: 100%;
    }

    #temabox {
        width: 100%;
    }

    .tema {
        font-size: 15px;
    }
    
}